* {
  margin: 0;
  padding: 0;
  
}

/* Nav */
.nav-bar-bg{
  background-color: #dddddd;
  min-height: 100px;

}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  border-bottom: 3px solid #CCCCCC;
  border-left: 3px solid #C8C8C8;
  border-right: 3px solid #C8C8C8;
  background: linear-gradient(180deg,#dddddd 44%,#dddddd 73%,#d5d5d5);
  border-radius: 15px;
  color: #626262;
  text-decoration-line: none;
  
}

.nav-list a{
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #303030;
  
}
.nav-list a:hover{
  color: #c00404;
  transition: 0.2s ease;
  text-decoration: none;
  
}

.nav-logo-text{
  text-decoration: none;
  font-size: 40px;
  font-family: 'Grand Hotel';
  font-style: italic;
  color: #0D0D0D;
}

.nav-logo-text:hover {
  color: #c00404;
  transition: 0.2s ease;
}

/* Hero */
.hero {
  padding: 20px 20px 20px 0px;
  background-color:#dddddd;
}
.herobg {
    background-image: url("../img/solyxbg.png");
    background-position: right;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 0px;
    background-color:#dddddd;
}
@media only screen and (max-width: 1000px) {
.herobg {
  background-image: url("");
}
}
.hero-container{
  justify-content: flex-start;
  position: relative;
  width: 15%;
  margin-top: 100px;
  margin-left: 15%;
  background-color:#dddddd;
}
@media only screen and (max-width: 1000px) {
  .hero-container {
      justify-content: flex-start;
      position: relative;
      width: 100%;
      margin-top: 100px;
      justify-content: center;
  }

}

.brand{
  font-size: 64px;
  font-family: 'Montserrat', sans-serif;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #0D0D0D;
  
}

.type {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #595959;
}

.description{
  width: 80%;
  margin: 50px 0;
  color: #595959;
  text-align: left;
}

.colored {
  text-shadow: 0px 0px 10px black;
}

@media only screen and (max-width: 1000px) {
  .solyxpfp {
    display: none;
  }

  .description{
    width: 80%;
    margin: 50px 0;
    color: #595959;
    text-align: left;
  }
  }
/* main body and slider */

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color:#dddddd;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb {
  background: #333;
  outline: 1px solid white;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #c00404;
}

/* about me */

.home-section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0px;
  background: #dddddd;

}

.home{
  display: flex;
  max-width: 1400px;
  padding-right: 10%;
  padding-left: 10%;
  flex-direction: row;
  justify-content: space-between;
}

.home-container{
  width: 50%;
}
@media only screen and (max-width: 1000px) {
 
.home-section {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  background: #dddddd;

}

.home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-container{
  width: 100%;
  align-items: center;
}

.home-container p{
  margin-top: 50px;
  color: #0D0D0D;
  display: block;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

}

.home-container p{
  width: 100%;
  margin-top: 50px;
  color: #0D0D0D;
  text-align: left;
  display: block;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.info{
  list-style: none;
  margin: 25px 0px 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 240px));
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.using h2{
  font-size: 16px;
  color: rgb(189, 189, 189);
  font-family: 'Montserrat', sans-serif;
  margin: 25px 0px 0px
}

.using i{
  margin-right: 15px;
  color: rgb(190, 4, 4);
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 600px) {
  .aboutme{
      display: flex;
      max-width: 1400px;
      padding-left: 4%;
      padding-right: 4%;
      flex-direction: column;
      justify-content: space-between;
  }
  .aboutme-container{
      width: 100%;
  }

  .info{
    list-style: none;
    margin: 25px 0px 0px;
    padding: 0px;
    display: list-item;
    grid-template-columns: repeat(2, minmax(180px, 240px));
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
}


/* contact */

.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dddddd;
  color: #0D0D0D;
  
}

.contact-anchor{
  margin-bottom: 50px;
  font-size: 40px;
}


.contact-wrapper{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1400px;
  width: 100%;
}

.input-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.contact-name{
  display: flex;
  flex-direction: column;
}

.contact-name p{
  color: #0D0D0D;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.name-input{
  border-radius: 4px;
  border: 2px solid rgb(50, 50, 50);
  height: 40px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #c00404;
  transition: all 0.2s ease 0s;
  outline: none;
  font-size: inherit;
  padding: 15px;
  background: rgb(50, 50, 50);
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
}

.contact-email{
  display: flex;
  flex-direction: column;
  
}

.contact-email p{
  color: #0D0D0D;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.email-input{
  border-radius: 4px;
  border: 2px solid rgb(50, 50, 50);
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #c00404;
  transition: all 0.2s ease 0s;
  outline: none;
  font-size: inherit;
  padding: 15px;
  background: rgb(50, 50, 50);
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
  width: 100%;
}

.contact-message{
  margin-top: 1rem;
  width: 100%;
}

.contact-message p{
  color: #0D0D0D;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.message-input{
  border-radius: 4px;
  border: 2px solid rgb(50, 50, 50);
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #c00404;
  transition: all 0.2s ease 0s;
  outline: none;
  font-size: inherit;
  padding: 15px;
  background: rgb(50, 50, 50);
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
  height: 200px;
  resize: none;
  margin-top: 6px;
}

.button {
  padding: 10px 17.5px;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: .2s ease;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  outline: none;
  -webkit-appearance: none;
  color: white;
  background: #c00404;
  text-decoration: none;
  margin: 20px;
}
.button:hover {
    transition: .2s ease;
    background: transparent;
    color: #c00404;
    border: 2px solid #c00404;
}


@media only screen and (max-width: 600px) {

  .contact-anchor{
      margin-bottom: 50px;
      font-size: 20px;
  }

  .contact-wrapper{
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      max-width: 300px;
      width: 90%;
      
  }
}

/* FOOTER */
.footer{
  background-color: #dddddd;
}
.footerField{
  background: #dddddd;
  padding: 2rem;
  line-height: 2vh;
}
.row{
  display: flex;
  justify-content: center;
}
.links{
  padding-top: 1%;
  margin-right: 3%;
  margin-left: 3%;
  line-height: normal;
  list-style: none;
}
.dir{
  padding-top: 1%;
  margin-right: 3%;
  margin-left: 3%;

  list-style: none;
}
.icons{
  padding-top: 1%;
  margin-right: 3%;
  margin-left: 3%;

  list-style: none;
}
.copyright-text{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  align-items: center;
  text-align: center;
}
.row li a{
  color: #c00404;
  text-decoration: none;
}



